@font-face {
    font-family: 'Futura Condensed';
    src: url('/fonts/Futura-CondensedMedium.woff2') format('woff2'),
        url('/fonts/Futura-CondensedMedium.woff') format('woff'),
        url('/fonts/Futura-CondensedMedium.ttf') format('truetype');
    font-style: normal;
    font-weight: 500;
}

/* ============================================== */
/* ================== FUTURA ==================== */
/* ============================================== */

@font-face {
    font-family: 'Futura PT';
    src: url('/fonts/FuturaPT/FuturaPT-Bold.eot');
    src: local('Futura PT Bold'), local('/fonts/FuturaPT/FuturaPT-Bold'),
        url('/fonts/FuturaPT/FuturaPT-Bold.eot?#iefix') format('embedded-opentype'),
        url('/fonts/FuturaPT/FuturaPT-Bold.woff2') format('woff2'),
        url('/fonts/FuturaPT/FuturaPT-Bold.woff') format('woff'),
        url('/fonts/FuturaPT/FuturaPT-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT';
    src: url('/fonts/FuturaPT/FuturaPT-Heavy.eot');
    src: local('Futura PT Heavy'), local('/fonts/FuturaPT/FuturaPT-Heavy'),
        url('/fonts/FuturaPT/FuturaPT-Heavy.eot?#iefix') format('embedded-opentype'),
        url('/fonts/FuturaPT/FuturaPT-Heavy.woff2') format('woff2'),
        url('/fonts/FuturaPT/FuturaPT-Heavy.woff') format('woff'),
        url('/fonts/FuturaPT/FuturaPT-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT Demi';
    src: url('/fonts/FuturaPT/FuturaPT-DemiObl.eot');
    src: local('Futura PT Demi Oblique'), local('/fonts/FuturaPT/FuturaPT-DemiObl'),
        url('/fonts/FuturaPT/FuturaPT-DemiObl.eot?#iefix') format('embedded-opentype'),
        url('/fonts/FuturaPT/FuturaPT-DemiObl.woff2') format('woff2'),
        url('/fonts/FuturaPT/FuturaPT-DemiObl.woff') format('woff'),
        url('/fonts/FuturaPT/FuturaPT-DemiObl.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Futura PT Cond Extra';
    src: url('/fonts/FuturaPT/FuturaPTCond-ExtraBoldObl.eot');
    src: local('Futura PT Cond Extra Bold Oblique'),
        local('/fonts/FuturaPT/FuturaPTCond-ExtraBoldObl'),
        url('/fonts/FuturaPT/FuturaPTCond-ExtraBoldObl.eot?#iefix') format('embedded-opentype'),
        url('/fonts/FuturaPT/FuturaPTCond-ExtraBoldObl.woff2') format('woff2'),
        url('/fonts/FuturaPT/FuturaPTCond-ExtraBoldObl.woff') format('woff'),
        url('/fonts/FuturaPT/FuturaPTCond-ExtraBoldObl.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Futura PT Cond Book';
    src: url('/fonts/FuturaPT/FuturaPTCond-Book.eot');
    src: local('Futura PT Cond Book'), local('/fonts/FuturaPT/FuturaPTCond-Book'),
        url('/fonts/FuturaPT/FuturaPTCond-Book.eot?#iefix') format('embedded-opentype'),
        url('/fonts/FuturaPT/FuturaPTCond-Book.woff2') format('woff2'),
        url('/fonts/FuturaPT/FuturaPTCond-Book.woff') format('woff'),
        url('/fonts/FuturaPT/FuturaPTCond-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT';
    src: url('/fonts/FuturaPT/FuturaPT-LightObl.eot');
    src: local('Futura PT Light Oblique'), local('/fonts/FuturaPT/FuturaPT-LightObl'),
        url('/fonts/FuturaPT/FuturaPT-LightObl.eot?#iefix') format('embedded-opentype'),
        url('/fonts/FuturaPT/FuturaPT-LightObl.woff2') format('woff2'),
        url('/fonts/FuturaPT/FuturaPT-LightObl.woff') format('woff'),
        url('/fonts/FuturaPT/FuturaPT-LightObl.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Futura PT Book';
    src: url('/fonts/FuturaPT/FuturaPT-BookObl.eot');
    src: local('Futura PT Book Oblique'), local('/fonts/FuturaPT/FuturaPT-BookObl'),
        url('/fonts/FuturaPT/FuturaPT-BookObl.eot?#iefix') format('embedded-opentype'),
        url('/fonts/FuturaPT/FuturaPT-BookObl.woff2') format('woff2'),
        url('/fonts/FuturaPT/FuturaPT-BookObl.woff') format('woff'),
        url('/fonts/FuturaPT/FuturaPT-BookObl.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Futura PT';
    src: url('/fonts/FuturaPT/FuturaPT-HeavyObl.eot');
    src: local('Futura PT Heavy Oblique'), local('/fonts/FuturaPT/FuturaPT-HeavyObl'),
        url('/fonts/FuturaPT/FuturaPT-HeavyObl.eot?#iefix') format('embedded-opentype'),
        url('/fonts/FuturaPT/FuturaPT-HeavyObl.woff2') format('woff2'),
        url('/fonts/FuturaPT/FuturaPT-HeavyObl.woff') format('woff'),
        url('/fonts/FuturaPT/FuturaPT-HeavyObl.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Futura PT Cond';
    src: url('/fonts/FuturaPT/FuturaPTCond-BoldObl.eot');
    src: local('Futura PT Cond Bold Oblique'), local('/fonts/FuturaPT/FuturaPTCond-BoldObl'),
        url('/fonts/FuturaPT/FuturaPTCond-BoldObl.eot?#iefix') format('embedded-opentype'),
        url('/fonts/FuturaPT/FuturaPTCond-BoldObl.woff2') format('woff2'),
        url('/fonts/FuturaPT/FuturaPTCond-BoldObl.woff') format('woff'),
        url('/fonts/FuturaPT/FuturaPTCond-BoldObl.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Futura PT Demi';
    src: url('/fonts/FuturaPT/FuturaPT-Demi.eot');
    src: local('Futura PT Demi'), local('/fonts/FuturaPT/FuturaPT-Demi'),
        url('/fonts/FuturaPT/FuturaPT-Demi.eot?#iefix') format('embedded-opentype'),
        url('/fonts/FuturaPT/FuturaPT-Demi.woff2') format('woff2'),
        url('/fonts/FuturaPT/FuturaPT-Demi.woff') format('woff'),
        url('/fonts/FuturaPT/FuturaPT-Demi.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT Cond Book';
    src: url('/fonts/FuturaPT/FuturaPTCond-BookObl.eot');
    src: local('Futura PT Cond Book Oblique'), local('/fonts/FuturaPT/FuturaPTCond-BookObl'),
        url('/fonts/FuturaPT/FuturaPTCond-BookObl.eot?#iefix') format('embedded-opentype'),
        url('/fonts/FuturaPT/FuturaPTCond-BookObl.woff2') format('woff2'),
        url('/fonts/FuturaPT/FuturaPTCond-BookObl.woff') format('woff'),
        url('/fonts/FuturaPT/FuturaPTCond-BookObl.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Futura PT Extra';
    src: url('/fonts/FuturaPT/FuturaPT-ExtraBold.eot');
    src: local('Futura PT Extra Bold'), local('/fonts/FuturaPT/FuturaPT-ExtraBold'),
        url('/fonts/FuturaPT/FuturaPT-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('/fonts/FuturaPT/FuturaPT-ExtraBold.woff2') format('woff2'),
        url('/fonts/FuturaPT/FuturaPT-ExtraBold.woff') format('woff'),
        url('/fonts/FuturaPT/FuturaPT-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT Cond';
    src: url('/fonts/FuturaPT/FuturaPTCond-Medium.eot');
    src: local('Futura PT Cond Medium'), local('/fonts/FuturaPT/FuturaPTCond-Medium'),
        url('/fonts/FuturaPT/FuturaPTCond-Medium.eot?#iefix') format('embedded-opentype'),
        url('/fonts/FuturaPT/FuturaPTCond-Medium.woff2') format('woff2'),
        url('/fonts/FuturaPT/FuturaPTCond-Medium.woff') format('woff'),
        url('/fonts/FuturaPT/FuturaPTCond-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT';
    src: url('/fonts/FuturaPT/FuturaPT-Medium.eot');
    src: local('Futura PT Medium'), local('/fonts/FuturaPT/FuturaPT-Medium'),
        url('/fonts/FuturaPT/FuturaPT-Medium.eot?#iefix') format('embedded-opentype'),
        url('/fonts/FuturaPT/FuturaPT-Medium.woff2') format('woff2'),
        url('/fonts/FuturaPT/FuturaPT-Medium.woff') format('woff'),
        url('/fonts/FuturaPT/FuturaPT-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT Cond Extra';
    src: url('/fonts/FuturaPT/FuturaPTCond-ExtraBold.eot');
    src: local('Futura PT Cond Extra Bold'), local('/fonts/FuturaPT/FuturaPTCond-ExtraBold'),
        url('/fonts/FuturaPT/FuturaPTCond-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('/fonts/FuturaPT/FuturaPTCond-ExtraBold.woff2') format('woff2'),
        url('/fonts/FuturaPT/FuturaPTCond-ExtraBold.woff') format('woff'),
        url('/fonts/FuturaPT/FuturaPTCond-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT';
    src: url('/fonts/FuturaPT/FuturaPT-MediumObl.eot');
    src: local('Futura PT Medium Oblique'), local('/fonts/FuturaPT/FuturaPT-MediumObl'),
        url('/fonts/FuturaPT/FuturaPT-MediumObl.eot?#iefix') format('embedded-opentype'),
        url('/fonts/FuturaPT/FuturaPT-MediumObl.woff2') format('woff2'),
        url('/fonts/FuturaPT/FuturaPT-MediumObl.woff') format('woff'),
        url('/fonts/FuturaPT/FuturaPT-MediumObl.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Futura PT Cond';
    src: url('/fonts/FuturaPT/FuturaPTCond-Bold.eot');
    src: local('Futura PT Cond Bold'), local('/fonts/FuturaPT/FuturaPTCond-Bold'),
        url('/fonts/FuturaPT/FuturaPTCond-Bold.eot?#iefix') format('embedded-opentype'),
        url('/fonts/FuturaPT/FuturaPTCond-Bold.woff2') format('woff2'),
        url('/fonts/FuturaPT/FuturaPTCond-Bold.woff') format('woff'),
        url('/fonts/FuturaPT/FuturaPTCond-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT';
    src: url('/fonts/FuturaPT/FuturaPT-BoldObl.eot');
    src: local('Futura PT Bold Oblique'), local('/fonts/FuturaPT/FuturaPT-BoldObl'),
        url('/fonts/FuturaPT/FuturaPT-BoldObl.eot?#iefix') format('embedded-opentype'),
        url('/fonts/FuturaPT/FuturaPT-BoldObl.woff2') format('woff2'),
        url('/fonts/FuturaPT/FuturaPT-BoldObl.woff') format('woff'),
        url('/fonts/FuturaPT/FuturaPT-BoldObl.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Futura PT Book';
    src: url('/fonts/FuturaPT/FuturaPT-Book.eot');
    src: local('Futura PT Book'), local('/fonts/FuturaPT/FuturaPT-Book'),
        url('/fonts/FuturaPT/FuturaPT-Book.eot?#iefix') format('embedded-opentype'),
        url('/fonts/FuturaPT/FuturaPT-Book.woff2') format('woff2'),
        url('/fonts/FuturaPT/FuturaPT-Book.woff') format('woff'),
        url('/fonts/FuturaPT/FuturaPT-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT';
    src: url('/fonts/FuturaPT/FuturaPT-Light.eot');
    src: local('Futura PT Light'), local('/fonts/FuturaPT/FuturaPT-Light'),
        url('/fonts/FuturaPT/FuturaPT-Light.eot?#iefix') format('embedded-opentype'),
        url('/fonts/FuturaPT/FuturaPT-Light.woff2') format('woff2'),
        url('/fonts/FuturaPT/FuturaPT-Light.woff') format('woff'),
        url('/fonts/FuturaPT/FuturaPT-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT Cond';
    src: url('/fonts/FuturaPT/FuturaPTCond-MediumObl.eot');
    src: local('Futura PT Cond Medium Oblique'), local('/fonts/FuturaPT/FuturaPTCond-MediumObl'),
        url('/fonts/FuturaPT/FuturaPTCond-MediumObl.eot?#iefix') format('embedded-opentype'),
        url('/fonts/FuturaPT/FuturaPTCond-MediumObl.woff2') format('woff2'),
        url('/fonts/FuturaPT/FuturaPTCond-MediumObl.woff') format('woff'),
        url('/fonts/FuturaPT/FuturaPTCond-MediumObl.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Futura PT Extra';
    src: url('/fonts/FuturaPT/FuturaPT-ExtraBoldObl.eot');
    src: local('Futura PT Extra Bold Oblique'), local('/fonts/FuturaPT/FuturaPT-ExtraBoldObl'),
        url('/fonts/FuturaPT/FuturaPT-ExtraBoldObl.eot?#iefix') format('embedded-opentype'),
        url('/fonts/FuturaPT/FuturaPT-ExtraBoldObl.woff2') format('woff2'),
        url('/fonts/FuturaPT/FuturaPT-ExtraBoldObl.woff') format('woff'),
        url('/fonts/FuturaPT/FuturaPT-ExtraBoldObl.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

/* =================================================== */
/* =================== AVENIR NEXT =================== */
/* =================================================== */

@font-face {
    font-family: 'AvenirNext';
    src: url('/fonts/AvenirNext/AvenirNextLTPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('/fonts/AvenirNext/AvenirNextLTPro-Regular.otf') format('opentype'),
        url('/fonts/AvenirNext/AvenirNextLTPro-Regular.woff') format('woff'),
        url('/fonts/AvenirNext/AvenirNextLTPro-Regular.ttf') format('truetype'),
        url('/fonts/AvenirNext/AvenirNextLTPro-Regular.svg#AvenirNextLTPro-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
}
/* Avenir Next - Regular Italic */
@font-face {
    font-family: 'AvenirNext';
    src: url('/fonts/AvenirNext/AvenirNextLTPro-It.eot?#iefix') format('embedded-opentype'),
        url('/fonts/AvenirNext/AvenirNextLTPro-It.otf') format('opentype'),
        url('/fonts/AvenirNext/AvenirNextLTPro-It.woff') format('woff'),
        url('/fonts/AvenirNext/AvenirNextLTPro-It.ttf') format('truetype'),
        url('/fonts/AvenirNext/AvenirNextLTPro-It.svg#AvenirNextLTPro-It') format('svg');
    font-weight: 400;
    font-style: italic;
}
/* Avenir Next - Medium */
@font-face {
    font-family: 'AvenirNext';
    src: url('/fonts/AvenirNext/AvenirNextLTPro-Medium.eot?#iefix') format('embedded-opentype'),
        url('/fonts/AvenirNext/AvenirNextLTPro-Medium.otf') format('opentype'),
        url('/fonts/AvenirNext/AvenirNextLTPro-Medium.woff') format('woff'),
        url('/fonts/AvenirNext/AvenirNextLTPro-Medium.ttf') format('truetype'),
        url('/fonts/AvenirNext/AvenirNextLTPro-Medium.svg#AvenirNextLTPro-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}
/* Avenir Next - Medium Italic */
@font-face {
    font-family: 'AvenirNext';
    src: url('/fonts/AvenirNext/AvenirNextLTPro-MediumIt.eot?#iefix') format('embedded-opentype'),
        url('/fonts/AvenirNext/AvenirNextLTPro-MediumIt.otf') format('opentype'),
        url('/fonts/AvenirNext/AvenirNextLTPro-MediumIt.woff') format('woff'),
        url('/fonts/AvenirNext/AvenirNextLTPro-MediumIt.ttf') format('truetype'),
        url('/fonts/AvenirNext/AvenirNextLTPro-MediumIt.svg#AvenirNextLTPro-MediumIt') format('svg');
    font-weight: 500;
    font-style: italic;
}
/* Avenir Next - Demi */
@font-face {
    font-family: 'AvenirNext';
    src: url('/fonts/AvenirNext/AvenirNextLTPro-Demi.eot?#iefix') format('embedded-opentype'),
        url('/fonts/AvenirNext/AvenirNextLTPro-Demi.otf') format('opentype'),
        url('/fonts/AvenirNext/AvenirNextLTPro-Demi.woff') format('woff'),
        url('/fonts/AvenirNext/AvenirNextLTPro-Demi.ttf') format('truetype'),
        url('/fonts/AvenirNext/AvenirNextLTPro-Demi.svg#AvenirNextLTPro-Demi') format('svg');
    font-weight: 600;
    font-style: normal;
}
/* Avenir Next - Demi Italic */
@font-face {
    font-family: 'AvenirNext';
    src: url('/fonts/AvenirNext/AvenirNextLTPro-DemiIt.eot?#iefix') format('embedded-opentype'),
        url('/fonts/AvenirNext/AvenirNextLTPro-DemiIt.otf') format('opentype'),
        url('/fonts/AvenirNext/AvenirNextLTPro-DemiIt.woff') format('woff'),
        url('/fonts/AvenirNext/AvenirNextLTPro-DemiIt.ttf') format('truetype'),
        url('/fonts/AvenirNext/AvenirNextLTPro-DemiIt.svg#AvenirNextLTPro-DemiIt') format('svg');
    font-weight: 600;
    font-style: italic;
}
/* Avenir Next - Bold */
@font-face {
    font-family: 'AvenirNext';
    src: url('/fonts/AvenirNext/AvenirNextLTPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('/fonts/AvenirNext/AvenirNextLTPro-Bold.otf') format('opentype'),
        url('/fonts/AvenirNext/AvenirNextLTPro-Bold.woff') format('woff'),
        url('/fonts/AvenirNext/AvenirNextLTPro-Bold.ttf') format('truetype'),
        url('/fonts/AvenirNext/AvenirNextLTPro-Bold.svg#AvenirNextLTPro-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
}
/* Avenir Next - Bold Italic */
@font-face {
    font-family: 'AvenirNext';
    src: url('/fonts/AvenirNext/AvenirNextLTPro-BoldIt.eot?#iefix') format('embedded-opentype'),
        url('/fonts/AvenirNext/AvenirNextLTPro-BoldIt.otf') format('opentype'),
        url('/fonts/AvenirNext/AvenirNextLTPro-BoldIt.woff') format('woff'),
        url('/fonts/AvenirNext/AvenirNextLTPro-BoldIt.ttf') format('truetype'),
        url('/fonts/AvenirNext/AvenirNextLTPro-BoldIt.svg#AvenirNextLTPro-BoldIt') format('svg');
    font-weight: 700;
    font-style: italic;
}

:root {
    --focus-color: rgb(235, 107, 21);
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
        Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
p,
div,
main,
section {
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
    border: none;
    background: none;
    padding: 0;
    margin: 0;
}

p {
    font-family: 'AvenirNext', sans-serif;
}

h1,
h2,
h3,
h4 {
    font-family: 'Futura', sans-serif;
    font-weight: 500;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.generate-button {
    cursor: pointer;
    color: white;
    background-color: black;
    padding: 1.1rem 2rem;
    border: 2px solid white;
    text-transform: uppercase;
    border-radius: 6px;
    width: 190px;
    height: 56px;
    box-shadow: black 0px 0px 0px 4px;
}

button.generate-button:focus {
    outline: none;
    box-shadow: black 0px 0px 0px 4px, var(--focus-color) 0px 0px 0px 7px;
}
