@font-face {
    font-family: 'Futura Condensed';
    src: url('/fonts/Futura-CondensedMedium.woff2') format('woff2'),
        url('/fonts/Futura-CondensedMedium.woff') format('woff'),
        url('/fonts/Futura-CondensedMedium.ttf') format('truetype');
}

@font-face {
    font-family: 'Futura';
    src: url('/fonts/FuturaPT/FuturaPT-Medium.woff2') format('woff2'),
        url('/fonts/FuturaPT/FuturaPT-Medium.woff') format('woff');
    font-style: normal;
    font-weight: 500;
}

/* Avenir Next - Regular */
@font-face {
    font-family: 'AvenirNext';
    src: url('/fonts/AvenirNext/AvenirNextLTPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('/fonts/AvenirNext/AvenirNextLTPro-Regular.otf') format('opentype'),
        url('/fonts/AvenirNext/AvenirNextLTPro-Regular.woff') format('woff'),
        url('/fonts/AvenirNext/AvenirNextLTPro-Regular.ttf') format('truetype'),
        url('/fonts/AvenirNext/AvenirNextLTPro-Regular.svg#AvenirNextLTPro-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
}
/* Avenir Next - Regular Italic */
@font-face {
    font-family: 'AvenirNext';
    src: url('/fonts/AvenirNext/AvenirNextLTPro-It.eot?#iefix') format('embedded-opentype'),
        url('/fonts/AvenirNext/AvenirNextLTPro-It.otf') format('opentype'),
        url('/fonts/AvenirNext/AvenirNextLTPro-It.woff') format('woff'),
        url('/fonts/AvenirNext/AvenirNextLTPro-It.ttf') format('truetype'),
        url('/fonts/AvenirNext/AvenirNextLTPro-It.svg#AvenirNextLTPro-It') format('svg');
    font-weight: 400;
    font-style: italic;
}
/* Avenir Next - Medium */
@font-face {
    font-family: 'AvenirNext';
    src: url('/fonts/AvenirNext/AvenirNextLTPro-Medium.eot?#iefix') format('embedded-opentype'),
        url('/fonts/AvenirNext/AvenirNextLTPro-Medium.otf') format('opentype'),
        url('/fonts/AvenirNext/AvenirNextLTPro-Medium.woff') format('woff'),
        url('/fonts/AvenirNext/AvenirNextLTPro-Medium.ttf') format('truetype'),
        url('/fonts/AvenirNext/AvenirNextLTPro-Medium.svg#AvenirNextLTPro-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}
/* Avenir Next - Medium Italic */
@font-face {
    font-family: 'AvenirNext';
    src: url('/fonts/AvenirNext/AvenirNextLTPro-MediumIt.eot?#iefix') format('embedded-opentype'),
        url('/fonts/AvenirNext/AvenirNextLTPro-MediumIt.otf') format('opentype'),
        url('/fonts/AvenirNext/AvenirNextLTPro-MediumIt.woff') format('woff'),
        url('/fonts/AvenirNext/AvenirNextLTPro-MediumIt.ttf') format('truetype'),
        url('/fonts/AvenirNext/AvenirNextLTPro-MediumIt.svg#AvenirNextLTPro-MediumIt') format('svg');
    font-weight: 500;
    font-style: italic;
}
/* Avenir Next - Demi */
@font-face {
    font-family: 'AvenirNext';
    src: url('/fonts/AvenirNext/AvenirNextLTPro-Demi.eot?#iefix') format('embedded-opentype'),
        url('/fonts/AvenirNext/AvenirNextLTPro-Demi.otf') format('opentype'),
        url('/fonts/AvenirNext/AvenirNextLTPro-Demi.woff') format('woff'),
        url('/fonts/AvenirNext/AvenirNextLTPro-Demi.ttf') format('truetype'),
        url('/fonts/AvenirNext/AvenirNextLTPro-Demi.svg#AvenirNextLTPro-Demi') format('svg');
    font-weight: 600;
    font-style: normal;
}
/* Avenir Next - Demi Italic */
@font-face {
    font-family: 'AvenirNext';
    src: url('/fonts/AvenirNext/AvenirNextLTPro-DemiIt.eot?#iefix') format('embedded-opentype'),
        url('/fonts/AvenirNext/AvenirNextLTPro-DemiIt.otf') format('opentype'),
        url('/fonts/AvenirNext/AvenirNextLTPro-DemiIt.woff') format('woff'),
        url('/fonts/AvenirNext/AvenirNextLTPro-DemiIt.ttf') format('truetype'),
        url('/fonts/AvenirNext/AvenirNextLTPro-DemiIt.svg#AvenirNextLTPro-DemiIt') format('svg');
    font-weight: 600;
    font-style: italic;
}
/* Avenir Next - Bold */
@font-face {
    font-family: 'AvenirNext';
    src: url('/fonts/AvenirNext/AvenirNextLTPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('/fonts/AvenirNext/AvenirNextLTPro-Bold.otf') format('opentype'),
        url('/fonts/AvenirNext/AvenirNextLTPro-Bold.woff') format('woff'),
        url('/fonts/AvenirNext/AvenirNextLTPro-Bold.ttf') format('truetype'),
        url('/fonts/AvenirNext/AvenirNextLTPro-Bold.svg#AvenirNextLTPro-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
}
/* Avenir Next - Bold Italic */
@font-face {
    font-family: 'AvenirNext';
    src: url('/fonts/AvenirNext/AvenirNextLTPro-BoldIt.eot?#iefix') format('embedded-opentype'),
        url('/fonts/AvenirNext/AvenirNextLTPro-BoldIt.otf') format('opentype'),
        url('/fonts/AvenirNext/AvenirNextLTPro-BoldIt.woff') format('woff'),
        url('/fonts/AvenirNext/AvenirNextLTPro-BoldIt.ttf') format('truetype'),
        url('/fonts/AvenirNext/AvenirNextLTPro-BoldIt.svg#AvenirNextLTPro-BoldIt') format('svg');
    font-weight: 700;
    font-style: italic;
}

:root {
    --focus-color: rgb(235, 107, 21);
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
        Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
p,
div,
main,
section {
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
    border: none;
    background: none;
    padding: 0;
    margin: 0;
}

p {
    font-family: 'AvenirNext', sans-serif;
}

h1,
h2,
h3,
h4 {
    font-family: 'Futura', sans-serif;
    font-weight: 500;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.generate-button {
    cursor: pointer;
    color: white;
    background-color: black;
    padding: 1.1rem 2rem;
    border: 2px solid white;
    text-transform: uppercase;
    border-radius: 6px;
    width: 190px;
    height: 56px;
    box-shadow: black 0px 0px 0px 4px;
}

button.generate-button:focus {
    outline: none;
    box-shadow: black 0px 0px 0px 4px, var(--focus-color) 0px 0px 0px 7px;
}
